body {
    font-family: 'Mulish';
}

/* HEADER */
header {
    background-color: #F1E6B2;
    padding: 20px 0;
}

.container {
    width: 80%; /* Cambio al 80% del ancho del viewport */
    max-width: 1250px; /* Limita el ancho máximo a 1250px */
    height: auto; /* Se ajusta automáticamente a la altura del contenido */
    margin: 0 auto; /* Centra horizontalmente */
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente */
}

h1 {
    margin: 0; /* Elimina el margen del título */
}

nav {
    flex: 1; /* Toma el espacio restante */
    text-align: center; /* Alinea el texto al centro */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Quita los estilos de la lista */
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: space-around; /* Distribuye los elementos de forma equitativa */
}

nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.menu-icon {
    display: none; /* Oculta el ícono del menú en pantallas grandes */
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #AD96DC;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.iniciar-sesion {
    background-color: #7D55C7;
    width: 160px; 
    height: 45px;
    border: none; /* Quita el borde */
    color: white; /* Cambia el color del texto a blanco */
    font-size: 16px; /* Reduz el tamaño del texto */
    font-weight: 400;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 25px;
}


/* CSS para iPhone 14 y dispositivos móviles similares */
@media (max-width: 950px) {
    .container {
        flex-wrap: wrap; /* Envuelve los elementos en pantallas pequeñas */
    }

    h1 {
        flex-basis: 50%; /* El título ocupará toda la anchura en pantallas pequeñas */
        text-align: left; /* Alinea el texto al centro */
        margin-bottom: 20px; /* Añade margen inferior para separar el título del menú */
    }

    nav {
        flex-basis: 100%; /* El menú ocupará toda la anchura en pantallas pequeñas */
        order: 3; /* Mueve el menú al final */
        text-align: center; /* Alinea el menú al centro */
        margin-bottom: 20px; /* Añade margen inferior */
        display: none; /* Oculta la navegación por defecto */
    }

    #loginButton {
        order: 1; /* Mueve el botón de inicio de sesión al principio */
        margin-bottom: 20px; /* Añade margen inferior */
    }

    .menu-icon {
        display: block; /* Muestra el ícono del menú en pantallas pequeñas */
        order: 2; /* Coloca la hamburguesa después del botón de inicio de sesión */
        margin: 0 0; /* Centra la hamburguesa horizontalmente */
        margin-bottom: 10px; /* Añade margen inferior */
        cursor: pointer; /* Cambia el cursor al pasar sobre la hamburguesa */
        text-align: right;
    }

    #menu-toggle:checked ~ nav {
        display: block; /* Muestra la navegación cuando el checkbox está marcado */
    }

    nav ul {
        display: block; /* Cambia a bloque */
    }

    nav li {
        margin: 10px 0; /* Añade margen verticalmente entre los elementos */
    }

    .iniciar-sesion {
        display: none; /* Oculta el botón de inicio de sesión en pantallas pequeñas */
    }
}
