body{
    font-family: 'Mulish';
}

/*   BANNER    */

.banner-container{
    background-color: #AE95DC;
    color: white;
    text-align: center;
}

.banner{
    width: 1250px; 
    display: inline-block;     
}


.banner{
    width: 100%   
}


/*   MAIN    */

/* VALORES */
.valores {
    display: flex;
    flex-wrap: wrap; /* Para permitir que los elementos se ajusten en filas */
    justify-content: center; /* Para centrar los elementos horizontalmente */
    padding: 20px;
    background-color: #f5f5f5;
}

.valor {
    width: calc(66% - 20px); /* Calcula el ancho considerando el margen */
    max-width: 300px; /* Establece un ancho máximo para evitar que los elementos sean demasiado grandes en pantallas grandes */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.valor img {
    margin-bottom: 15px;
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
}

.valor h2 {
    font-size: 20px;
    color: #64449F;
    font-weight: bold;
    margin: 0;
}

.valor p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.servicios{
    display: flex;
    flex-wrap: wrap; /* Para permitir que los elementos se ajusten en filas */
    justify-content: center; /* Para centrar los elementos horizontalmente */
    padding: 20px;
}

.servicio{    
    width: 35%;
    display: flex;
    margin: 20px;
    border: 2px solid #AE95DC; 
    border-radius: 10px;  
}

.servicio .image {
    width: 50%;
}

.servicio .image img{
    width: auto;
    height: auto;  

}

.servicio .content {
    width: 50%;
    padding: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.servicio .content img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.servicio .content h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.servicio .content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.servicio .content button{
    padding: 5px 10px;
    background-color: #7D55C7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

}

@media screen and (max-width: 768px) {
    .servicios {
        padding: 10px;
    }

    .servicio {
        width: calc(100% - 20px);
    }
}

.img-descuento{
    width: 100%;
}

.aliados{
    background-color: #E5DDF3;
    text-align: center;

}

.img-aliados{
    width: 100%;
    aspect-ratio: 180/31;   

}

.comentarios{
    height: 300px;
    text-align: center;
}

.comentarios h2{
    font-size: 40px;
    font-family: 'Sansita';
    color: #64449F;
    font-weight: bold;
}


.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  
.carousel {
    display: flex;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.carousel {
animation: slide 20s infinite;
}
  
.img-redes{
    width: 100%;
    aspect-ratio: 144/37;
}





