body{
    font-family: 'Mulish';
}

/*   HEADER    */
header{
    background-color: #F1E6B2;
    padding: 20px 0;
}

.container{
    width: 1250px; 
    height: 90px;
    position: relative;   
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 35px;    
    right: 350px;
}

nav li{
    display: inline;  
    margin: 0 0 0 45px;  /*arriba derecha abajo izquierda*/
}

nav a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.iniciar-sesion{
    background-color: #7D55C7;
    width: 160px; 
    height: 45px;
}

/*   BANNER    */

.banner-container{
    background-color: #AE95DC;
    color: white;
    text-align: center;
}

.banner{
    width: 1250px; 
    display: inline-block;     
}


.banner{
    width: 100%   
}


/*   MAIN    */
.valores{
    background-color: #E5DDF3; 
}
 
.valor{ 
    width: 1250px;
    margin: 0 auto;
    padding: 50px;
}

.valor li{
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #ffffff; 
    border-radius: 10px;    
}

.servicios{
    display: flex;
    text-align: center;
}

.servicio{    
    width: 35%;
    display: flex;
    margin: 20px;
    border: 2px solid #AE95DC; 
    border-radius: 10px;  
}

.servicio .image {
    width: 50%;
}

.servicio .image img{
    width: auto;
    height: auto;  

}

.servicio .content {
    width: 50%;
    padding: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.servicio .content img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.servicio .content h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.servicio .content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.servicio .content button{
    padding: 5px 10px;
    background-color: #7D55C7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

}

.img-descuento{
    width: 100%;
}

.aliados{
    background-color: #E5DDF3;
    text-align: center;

}

.img-aliados{
    width: 1250px; 
    display: inline-block;    

}

.comentarios{
    height: 300px;
    text-align: center;
}

.comentarios h2{
    font-size: 40px;
    font-family: 'Sansita';
    color: #64449F;
    font-weight: bold;
}


.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  .carousel {
    animation: slide 20s infinite;
  }
  



/*   FOOTER    */

footer{
    background-color: #F6D891;
    height: 300px;
}

.derechos{
    background-color: #31214F;
    height: 50px;
}

.derechos p{
    color: white;
}