/* CSS base */
body {
    font-family: 'Mulish';
}

/* Estilo cuando se pasa el cursor sobre el plan */
.plan:hover,
.hour:hover {
    background-color: #E5DDF3; /* Cambiar el color de fondo al pasar el cursor */
}

/* Estilo cuando se hace clic en el plan */
.plan:active,
.hour:active {
    background-color: #E5DDF3; /* Cambiar el color de fondo cuando se hace clic */
}

.plan.clicked,
.hour.clicked {
    background-color: #E5DDF3; /* Cambiar el color de fondo al pasar el cursor o hacer clic */
}

/* Resto de tu CSS... */
.servicio-banner {
    width: 100%;
}

.servicio-banner div {
    margin-left: 5%;
    text-align: left;
}

.servicio-banner h1 {
    font-size: 40px;
    color: #64449F;
    padding-top: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.servicio-banner p {
    font-size: 16px;
    padding-bottom: 20px;
}

.linea {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.linea img {
    width: 40%;
}

.titulo {
    font-family: "Sansita";
    width: 80%;
    font-size: 26px;
    text-align: left;
    color: #64449F;
    margin-left: 5%;
    margin-bottom: 20px;
}

/* Expertos */
.planes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plan {
    width: 90%;
    max-width: 300px;
    flex: 1 1 300px; /* Para evitar que los elementos se desborden */
    padding: 25px;
    margin: 20px;
    text-align: left;
    background-color: #ffffff;
    border: 2px solid #7D55C7;
    border-radius: 10px;
}

.plan h3 {
    font-size: 20px;
}

.plan ul {
    margin: 10px 0;
}

.plan ul li {
    list-style-type: disc;
}

/* Horas */
.horas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hour {
    width: 90%;
    max-width: 200px;
    flex: 1 1 200px; /* Para evitar que los elementos se desborden */
    padding: 25px;
    margin: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #7D55C7;
    border-radius: 10px;
}

.hour .precio {
    font-size: 20px;
    font-weight: 600;
}

.hour p {
    font-size: 16px;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-align: left;
    color: #64449F;
    margin-left: 5%;
    margin-bottom: 20px;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.submit input {
    padding: 10px;
    width: 220px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #7D55C7;
}


/* Media queries para hacerlo responsive */
@media screen and (min-width: 768px) {
    .servicio-banner div {
        margin-left: 15%;
    }

    .linea img {
        width: 40%;
    }

    .titulo {
        margin-left: 15%;
    }

    .plan,
    .hour {
        width: calc(50% - 40px);
        margin: 20px;
    }
    
}

@media screen and (min-width: 1024px) {
    .servicio-banner div {
        margin-left: 20%;
    }

    .titulo {
        margin-left: 20%;
    }

    .plan,
    .hour {
        width: calc(33.33% - 40px);
    }
    
}

@media only screen and (max-width: 768px) {
    .linea img {
        width: 100%;
    }
}
