body{
    font-family:  'Mulish';
}

.servicio-banner{    
    width: 100%;
}

.servicio-banner div{
    margin-left: 15%;
    text-align: left;
}

.servicio-banner h1{
    font-size: 40px; /* Para centrar el título */
    color: #64449F;
    padding-top: 70px;
    font-weight: 700;
    margin-bottom: 20px;

}

.servicio-banner p{
    font-size: 16px;
    padding-bottom: 30px;
}

/*proceso*/

.linea{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.linea img{
    width: 40%;
}


/* CUERPO */
.cuerpo {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/* IZQUIERDA */
.izquierda {
    width: 50%;
    margin: 0 50px 0 50px;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 10px;
}

.izquierda h2{
    font-family: "Sansita";
    font-size: 26px;
    color: #64449F;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo input {
    padding: 12px;
    border-radius: 15px;
    border: none;
    background-color: #E5DDF3;
    color: black;
}

/* Estilos para el select */
.campo select {
    padding: 12px;
    border-radius: 15px;
    border: none;
    background-color: #E5DDF3;
    color: black;
    width: 100%;
    -webkit-appearance: none; /* Para eliminar la apariencia predeterminada del desplegable en navegadores webkit */
    -moz-appearance: none; /* Para eliminar la apariencia predeterminada del desplegable en navegadores Firefox */
    appearance: none; /* Para eliminar la apariencia predeterminada del desplegable en navegadores que siguen el estándar */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>'); /* Agrega un ícono de flecha personalizado */
    background-repeat: no-repeat;
    background-position: right 12px center;
}

/* Estilos para el botón desplegable */
.campo select::-ms-expand {
    display: none; /* Oculta la flecha de desplegar en navegadores IE */
}

/* Estilos cuando el select está enfocado */
.campo select:focus {
    outline: none;
    border-color: #7D55C7; /* Cambia el color del borde al enfocar el select */
}

/* Estilos para las opciones dentro del combobox */
.campo select option {
    padding: 10px;
    background-color: white;
    color: black;
}


.submit input {
    margin-top: 10px;
    padding: 10px;
    width: 220px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #7D55C7;
}


/*DERECHA*/
.derecha {
    width: 50%;
    margin: 25px auto 0 auto;
    padding: 30px;
    box-sizing: border-box;
}
 .derecha img{
    width: 100%;
    height: auto;
 }



